<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Midterm Survey</title>
</head>
<body>
<h1>Midterm Survey</h1>
<form action="#" method="post">
    <check if="{{ @errors['name'] }}">{{ @errors['name'] }}<br></check>
    <label for="name">Name:
        <input type="text" id="name" name="name">
    </label>
    <br><br>
    <label>Check all that apply</label><br>
    <check if="{{ @errors['choices'] }}">
        {{ @errors['choices']}}
    </check><br>
    <repeat group="{{ @options }}" value="{{ @option }}">
        <label>
            <input type="checkbox" name="choices[]" value="{{ @option }}">{{ @option }}
        </label><br>
    </repeat>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>